.report-wrapper
  padding 0 14px
  .report-top
    margin-top 10px
    h1
      font-size 22px
      font-weight bold
      padding 0
      margin 0
      line-height 1.5
      // overflow hidden
      // text-overflow ellipsis
      // display -webkit-box
      // -webkit-box-orient vertical
      // -webkit-line-clamp 2
      // word-break break-all
    div
      margin-top 5px
      span
        font-size 14px
        color rgb(154, 154, 154)
        line-height 1
        &:nth-of-type(2)
          margin-left 10px
  .report-bottom
    margin-top 5px
  /deep/ p
    font-size 14px
    word-break break-all
  /deep/ img
    width 100% !important
