.rate
  .text
    font-size 18px
    color #ff7f2c
    font-weight bold
  .star-wrap
    line-height 0
    .icon-star-o
      position relative
      width 13px
      height 13px
      line-height 0
      display inline-block
      margin-right 6px
      background url('./img/icon-star-gray.png') no-repeat
      background-size 100% 100%
      .icon-star
        position absolute
        left 0
        top 0
      span
        position absolute
        left 0
        top 0
        width 50%
        overflow hidden
        height 13px
        display inline-block
        &.full
          width 100%
    .icon-star
      width 13px
      height 13px
      line-height 0
      display inline-block
      margin-right 6px
      background url('./img/icon-star-yellow.png') no-repeat
      background-size contain
    i:last-child
      margin-right 0
