.dialog-content
  width 85%
  min-height 350px
  border-radius 10px !important
  background #fff
  position relative
  z-index 999
  .dialog-head
    margin-top 8px
    overflow hidden
    height 50px
    line-height 50px
    font-size 17px
    color #222
    text-align center
    font-weight bold
  .dialog-tip
    color red
    text-align center
  .close
    position absolute
    top 0
    right 0
  .dialog-body
    .input-wrapper
      width 84%
      position relative
      margin 15px 8%
      span
        position absolute
        top 9px
        left 5px
        font-weight bold
      .input
        width 100%
        padding 12px 20px 10px 50px
        background #F8F8F8
        border-radius 8px
    .warn-text
      font-size 11px
      color #F84E4D
      text-align center
      margin-top 10px
    .q-field__control
      border-radius 8px
    .q-field__label
      font-weight bold
      color #000
  .bottom-btn
    position absolute
    bottom 20px
    left 0
    right 0
    width 100%
    height 40px
    line-height 40px
    text-align center
    > div
      width 80%
      margin 0 auto
      color #fff
      font-weight 550
      background #007BFF
