.wrapper
  padding 0 10px
h1
  font-size 30px
  font-weight bold
  text-align center
  margin 0

.top
  margin-bottom 20px
  p
    text-indent 2em
    margin 0
    span
      color red
    &.first
      font-weight bold
section
  margin-bottom 20px
  h4
    font-size 18px
    margin 0
    line-height 1.5
  p
    font-size 14px
  &.bold
    h4
      font-weight bold



